* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 5%;
  padding-right: 8%;
}
.logo {
  color: rgb(4, 58, 4);
  font-size: 70px;
  letter-spacing: 1px;
}
span {
  color: rgb(58, 3, 3);
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

ul li a {
  color: rgb(4, 58, 4);
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

ul li a:hover {
  background-color: rosybrown;
  transition: 0.4s;
}
.btn {
  color: rgb(58, 3, 3);
  font-size: larger;
}

.content {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%);
}

h1 {
  color: rgb(4, 58, 4);
  font-size: 75px;
}

h3 {
  color: rgb(58, 3, 3);
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: rosybrown;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid rgb(4, 58, 4);
  outline: none;
  border-radius: 30px;
}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: rgb(58, 3, 3);
  color: rosybrown;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px rgb(4, 58, 4);
  top: 6px;
  right: 6px;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: whitesmoke;
}
.about img {
  height: auto;
  width: 430px;
}
.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-self: center;
  justify-content: space-around;
}
.about-text h2 {
  color: rgb(4, 58, 4);
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: rgb(4, 58, 4);
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: rgb(58, 3, 3);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
}
button {
  background-color: rgb(58, 3, 3);
  color: antiquewhite;
  text-decoration: none;
  border: 2px solid rgb(4, 58, 4);
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
}
button:hover {
  background-color: rgb(36, 46, 16);
  border: 2px solid royalblue;
  cursor: pointer;
}

.services {
  background: whitesmoke;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: rgb(4, 58, 4);
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
  text-transform: capitalize;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 470px;
  width: 335px;
  padding: 20px 35px;
  background: rgb(58, 3, 3);
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
}

h5 {
  color: rgb(113, 145, 49);
  font-size: 23px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.pra p {
  font-size: 16px;
  color: antiquewhite;
  line-height: 27px;
  margin: 25px;
}

.card .button {
  background-color: transparent;
  color: antiquewhite;
  text-decoration: none;
  border: 2px solid rgb(4, 58, 4);
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 30px;
  transition: 0.4s;
  text-transform: capitalize;
}

.card .button :hover {
  background: black;
  cursor: pointer;
  border: 2px solid rgb(4, 58, 4);
}

.contact-me {
  width: 100%;
  height: 290px;
  background: rgb(36, 46, 16);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#me {
  color: whitesmoke;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 35px;
  text-transform: capitalize;
}

.contact-me .button-two {
  color: white;
  background-color: rgb(58, 3, 3);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.contact-me .button-two:hover {
  background: transparent;
  cursor: pointer;
  border: 2px solid rgb(36, 46, 16);
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 50px;
  color: rgb(4, 58, 4);
  margin-bottom: 20px;
  font-weight: bold;
}

.social a {
  width: 40px;
  height: 65px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 22px 10px;
  color: rgb(58, 3, 3);
  text-decoration: none;
  font-size: 45px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.end {
  position: absolute;
  color: rgb(36, 46, 16);
  font-size: 14px;
  bottom: 30px;
  text-transform: capitalize;
}
